{% extends 'base.html.twig' %}

{% block title %}Bibiche Coiffure
{% endblock %}

{% block body %}
	<div id='home'>
		{{ include('home/_hero.html.twig') }}
		{{ include('home/_services.html.twig') }}
		{{ include('home/_work.html.twig') }}
	</div>
{% endblock %}
