{% extends 'base.html.twig' %}

{% block title %}Bibiche Coiffure - Nous contacter
{% endblock %}

{% block body %}
	<div id='contact'>
		{{ include('contact/_breadcrumb.html.twig') }}
		{{ include('contact/_spad.html.twig') }}
		{{ include('contact/_form.html.twig') }}
	</div>
{% endblock %}
