{% extends 'base.html.twig' %}

{% block title %}Hello GaleryController!
{% endblock %}

{% block body %}
	<div id='galery'>
		{{ include('galery/_breadcrumb.html.twig') }}
		{{ include('galery/_portfolio.html.twig') }}
	</div>
{% endblock %}
